<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INSearchForAccountsIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Check my bank account</string>
				<string>Check my debit account</string>
				<string>Check bank account</string>
				<string>What is the balance of BNM Card account</string>
				<string>What is the balance of my Bobbie account</string>
				<string>What is the balance in Green account</string>
				<string>What is the balance in my BNM Everyday account</string>
				<string>How much do I have in my bank account</string>
				<string>How much do I have in my Bobbie account</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
